<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow" />
    <meta name="language" content="en" />
    <meta name="description" content="{% block description %}Creating weird music software for the command line{% endblock description %}">
    {% block opengraph %}
    <meta property="og:title" content="{{ config.title }}">
    <meta property="og:description" content="Creating weird music software for the command line">
    <meta property="og:image" content="{{ config.base_url }}/images/logo_big.png">
    {% endblock opengraph %}
    <link rel="canonical" href="{{current_url | safe}}">
    <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="3495e2be-776d-4d16-afef-9a5cb76bb521"></script>
</head>
<body>

<main>
    {# Create variable to allow appending index.html at end of links if set in config #}
    {% if not config.extra.easydocs_uglyurls or config.mode == "serve" or config.mode == "Serve" -%}
        {% set _ugly_url = "" -%}
    {% else %}
        {% set _ugly_url = "index.html" -%}
    {% endif -%}

    {%- block nav -%}
        <nav>
            {% if config.extra.logo -%}
                {% set _logo = config.extra.logo -%}
                {% if (_logo is starting_with("http")) == false -%}
                    {% set _logo = get_url(path=config.extra.logo) -%}
                {% endif -%}
                {% if current_path == "/" and not config.extra.easydocs_logo_always_clickable -%}
                    <img src="{{ _logo | safe }}" alt="logo"/>
                {% else -%}
                    <a href="{{ config.base_url }}{{ _ugly_url }}">
                        <img src="{{ _logo | safe }}" alt="logo"/>
                    </a>
                {% endif -%}

            {% else -%}
                <h1><a href="{{ config.base_url }}{{ _ugly_url }}">{{ config.title }}</a></h1>
            {% endif -%}

            <a href="javascript:void(0);" onclick="burger()" id="mobile" class="ms-Icon--GlobalNavButton"></a>
            <div id="trees">
                <ul class="subtree">
                    <li class="active">
                        <a href="/">about</a>
                    </li>
                </ul>
                {% set section_ = get_section(path="_index.md") -%}
                {% for page in section_.pages -%}
                    <ul class="subtree">
                        <li class="active">
                            <a href="{{ page.permalink | safe }}{{ _ugly_url }}">{{ page.title }}</a>
                        </li>
                            

                        {% if page.toc -%}

                            {% if current_path == page.path -%}

                                {# Count number of headers on page #}
                                {% set_global header_count = 0 -%}
                                {% for h2 in page.toc -%}
                                    {% set_global header_count = header_count + 1 -%}
                                    {% for h3 in h2.children -%}
                                        {% set_global header_count = header_count + 1 -%}
                                        {% for h4 in h3.children -%}
                                            {% set_global header_count = header_count + 1 -%}
                                        {% endfor -%}
                                    {% endfor -%}
                                {% endfor -%}

                                {# Output headers if above threshold #}
                                {% if not config.extra.easydocs_heading_threshold -%}
                                    {# Undefined or 0 unable to find a way to differentiate between 0 and undefined.
                                        1 is already including any headings so 0 is not needed #}
                                    {% set _threshold = 5 -%}
                                {% else %}
                                    {% set _threshold = config.extra.easydocs_heading_threshold -%}
                                {% endif -%}

                                {% if header_count >= _threshold -%}
                                    <ul id="toc">
                                        {% for h2 in page.toc -%}
                                            <li><a href="
                                                    {{ h2.permalink | safe }}">{{ h2.title }}</a>
                                                {% if h2.children -%}
                                                    <ul>
                                                        {% for h3 in h2.children -%}
                                                            <li>
                                                                <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                                            </li>
                                                        {% endfor -%}
                                                    </ul>
                                                {% endif -%}
                                            </li>
                                        {% endfor -%}
                                    </ul>
                                {% endif -%}

                            {% endif -%}
                        {% endif -%}
                    </ul>
                {% endfor -%}
            </div>
        </nav>
    {% endblock nav -%}

    <article>
        <div id="wrap">
            {% block content -%}
                {%- if section.word_count -%}
                    {{ section.content |safe }}
                {%- else -%}
                    {%- include "sec_toc_2_level.html" -%}
                {% endif -%}
            {% endblock content %}
        </div>
    </article>
</main>
<script type="text/javascript">
  function burger() {
    let x = document.querySelector("#trees");
    let y = document.querySelector("#mobile");

    if (x.style.display === "block") {
      x.style.display = "none";
      y.className = "ms-Icon--GlobalNavButton";
    } else {
      x.style.display = "block";
      y.className = "ms-Icon--ChromeClose";
    }
  }
</script>
</body>
</html>
